*.cache
*.out
*.diff
*.swp
/*.patch
user.mk
dl
output
build
testresults

# auto unpack src dirs
src/cloog-*
src/expat-*
src/gdb-*
src/glibc-*
src/gmp-*
src/isl-*
src/mpc-*
src/mpfr-*
src/pthreads-w32-*
src/libusb-*

# symbolic links
src/linux-kernel
src/gcc/libgloss
src/gcc/newlib

# generated and copied-in files
src/binutils/gas/config/adi-processors-asm.def
src/gcc/gcc/adi-processors.def
src/gcc/gcc/config/arm/adi_crt_spec.h
src/gcc/gcc/config/arm/adi_defines.h
src/gcc/gcc/config/arm/adi_lib_spec.h
src/gcc/gcc/config/arm/adi_linux_multilib_default.h
src/gcc/gcc/config/arm/adi_multilib_default.h
src/gcc/gcc/config/arm/t-arm-elf
src/gcc/gcc/config/arm/t-linux-eabi
src/gcc/libgcc/adi_mt_interface.h
src/ldr/adi-processors.def
src/newlib/newlib/adi_crt.mk
src/newlib/newlib/libc/adi_crt.mk
src/newlib/newlib/libc/sys/adi_crt.mk
src/newlib/newlib/libc/sys/arm/adi/adi_mt_interface.h
src/newlib/newlib/libc/sys/arm/adi/adi_osal.h
src/newlib/newlib/libc/sys/arm/adi/adi_osal_arch.h
src/newlib/newlib/libc/sys/arm/adi/fatal_error_code.h
src/newlib/newlib/libc/sys/arm/adi_crt.mk
